
*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  background-image: url("./themes/mountains\ themes/orig_big.png");
  background-size: cover;
}
#header{
  margin-top: 50px;
  z-index: 1005;
}
#settings-icon{
  font-size: 25px;
  cursor: pointer;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 100%;
}
#main-text{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  width: 400px;
  margin-left: 0%;
}
#hr-line{
  width: 200px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 25%;
}
#hearts-div{
  width: 200px;
  height: 50px;
  z-index: 0;
  margin-left: 30%;
  margin-top: 40px;
}
#powerups-div{
  margin-left: 30%;
  margin-top: 10px;
}
#add-hint{
  width: 50px;
  height: 50px;
  z-index: 0;
  cursor: pointer;

}
#add-two-hints{
  width: 50px;
  height: 50px;
  z-index: 0;
  cursor: pointer;
}
#change-the-word{
  width: 50px;
  height: 50px;
  z-index: 0;
  cursor: pointer;
}
.full-heart{
  width:50px;
  height: 50px;
}
.row{
    display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 1px;

}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(53, 53, 53);
  cursor: pointer;

}
.hint-sentence{
  position: absolute;
  margin-top: 140px;
  margin-left: 15%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}
#game-div{
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 4;
  margin-top: 350px;
  margin-left: -40%;
}
#cave-theme{
  display: none;
    width: 100%;
    height: 100%;
    margin-top: -600px;
    z-index: 1;
}


#another-word-button{
  display: none;
    position: absolute;
  width: 250px;
  height: 80px;
  background-color: rgb(0, 225, 255);
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid rgb(0, 191, 197);
  border-radius: 8px;
  border-bottom: 8px solid rgb(0, 191, 197);
  z-index: 5px;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 30%;
}
#another-word-button:hover{
  border-bottom: 2px solid rgb(0, 191, 197);
transition: 0.7s ease;
}
#try-again-button{
  position: absolute;
  width: 250px;
  height: 80px;
  background-color: rgb(255, 175, 101);
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid orangered;
  border-radius: 8px;
  border-bottom: 8px solid orangered;
  z-index: 5px;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 30%;
}
#try-again-button:hover{
border-bottom: 2px solid orangered;
transition: 0.7s ease;
}
#leaves{
  width: 100%;
  height: 100%;
  z-index: 1005;
  margin-top: -700px;
  margin-left: 0px;
  z-index: 1;
}

@media (max-width: 750px){
  body{
    background-size: 1200px 900px;
    background-position: -50px -150px;
  }

#game-div{
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 4;
  margin-top: 350px;
  margin-left: -40%;
}
  .row{
    display: grid;
  grid-template-rows: 100px;
  gap: 1px;

}
}